#menu.open {
	height: 140px;
}

.calendar #menu {
	overflow: visible;
}

.calendar #menu>h2 {
	font-size: 18px;
	left: 40px;
	top: 20px;
	position: relative;
	margin: 0px;
	position: relative;
}

.calendar #menu>.datepicker {
	font-size: 24px;
	left: 40px;
	top: -5px;
	float: left;
}

.calendar #menu>.datepicker:before,.calendar #menu>.datepicker:after {
	content: '';
	position: absolute;
	width: 15px;
	height: 30px;
	top: 33px;
}

.calendar #menu>.datepicker:before {
	background-image: url(../_img/icon_arrow_left_yellow.png);
	left: -30px;
}

.calendar #menu>.datepicker:after {
	background-image: url(../_img/icon_arrow_right_yellow.png);
	right: -30px;
}

.calendar #menu>.datepicker>h1{margin:29px 0 15px;font-size:36px;line-height:1.139em;}
.calendar #menu>.datepicker>span{font-size:16px;color:#666;margin-right:2em;}
.calendar #menu>.datepicker>span>img{margin:0 5px -3px 0;}
.calendar #menu .viewpicker {
	position: absolute;
	right: 10px;
    top: -10px;
	font-size: 12px;
}

.calendar #menu .viewpicker>div {
	float: left;
	top: 6px;
	margin-right: 12px;
	color: #666;
	font-weight: bold;
	position: relative;
}

.calendar #menu .viewpicker>ul {
	float: left;
	background-color: #ededed;
	background-image: -webkit-linear-gradient(#d6d6d6, #ededed);
	background-image: -moz-linear-gradient(#d6d6d6, #ededed);
	box-shadow: inset 0px 1px 0px #b6b6b6;
	border-radius: 5px;
	padding: 3px;
	border-radius: 5px;
	border-left: 1px solid #d6d6d6;
	border-right: 1px solid #d6d6d6;
}

.calendar #menu .viewpicker>ul>li {
	float: left;
	background-color: transparent;
	border-radius: 5px;
	padding: 3px 11px 3px 11px;
	border:1px transparent;
	font-weight: bold;
	color: #999;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, .7);
	padding: 4px 11px 3px 11px;
}

.calendar #menu .viewpicker>ul>li.selected {
	background-color: #fede37;
	background-image: -webkit-linear-gradient(#fede37, #fecd27);
	background-image: -moz-linear-gradient(#fede37, #fecd27);
	background-image: linear-gradient(#fede37, #fecd27);
	border-top: 1px solid #ebc127;
	border-left: 1px solid #d1ac22;
	border-right: 1px solid #d1ac22;
	border-bottom: 1px solid #b3931c;
	box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.2), inset 0px 1px 0px
		rgba(255, 255, 255, 0.5);
	float: left;
	color: black;
	padding: 3px 11px 3px 11px;
	
}
.calendar #menu .viewpicker>ul>li>a{text-decoration:none;color:#666;}

.calendar #menu .print {
	display: block;
	position: absolute;
	bottom: -5px;
	right: 130px;
	font-size: 12px;
	text-decoration: none;
	border-radius: 5px;
	padding: 8px 13px 8px 33px;
	font-weight: bold;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, .7);
	background-color: #fede37;
	background-image: -webkit-linear-gradient(#fede37, #fecd27);
	background-image: -moz-linear-gradient(#fede37, #fecd27);
	border-top: 1px solid #ebc127;
	border-left: 1px solid #d1ac22;
	border-right: 1px solid #d1ac22;
	border-bottom: 1px solid #b3931c;
	box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.2), inset 0px 1px 0px
		rgba(255, 255, 255, 0.5);
	float: left;
	color: black;
	border-radius: 5px;
}

.calendar #menu .print:active {
	background-image: -webkit-linear-gradient(#fecd27, #fede37);
	background-image: -moz-linear-gradient(#fecd27, #fede37);
}

.calendar #menu .print:before {
	content: '';
	position: absolute;
	left: 8px;
	top: 8px;
	height: 16px;
	width: 17px;
	background-image: url(../_img/icon_print.png);
}

.calendar #menu select {
	display: block;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.calendar #menu .chzn-container {
	display: block;
	position: absolute;
	bottom: -5px;
	right: 10px;
}

.calendar #menu .chzn-container-single .chzn-single {
	background-color: #fede37;
	background-image: -webkit-linear-gradient(#fede37, #fecd27);
	background-image: -moz-linear-gradient(#fede37, #fecd27);
	border-top: 1px solid #ebc127;
	border-left: 1px solid #d1ac22;
	border-right: 1px solid #d1ac22;
	border-bottom: 1px solid #b3931c;
	padding: 2px;
}

.calendar #menu .chzn-container-single .chzn-single div {
	background-image: none;
	background-color: transparent;
	filter: none;
	-ms-filter: none;
}

.calendar #menu .chzn-container-single .chzn-single div b {
	background-image: url(../_img/icon_arrow_dropdown.png);
	background-position: 50%;
}

.calendar #menu .chzn-container-single .chzn-single div:before {
	content: '';
	position: absolute;
	width: 1px;
	height: 100%;
	top: 0px;
	left: 0px;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.5),
		rgba(255, 255, 255, 0.1) );
}

.calendar #menu .chzn-container-single .chzn-single span {
	font-size: 12px;
	color:black;
	text-shadow:0px 1px 1px white;
	font-weight:bold;
	padding-left: 5px;
	border-right: 1px solid cea922;
}

.calendar #menu .chzn-container .chzn-drop {
	background-color: #aaa;
	color: white;
}

.calendar #menu .chzn-container .chzn-drop .highlighted {
	background-color: white;
	color: #666;
}

	{display:block;padding-top:19px;}
#calendarweek colgroup col.weekend{background:rgba(221,221,221,0.5);}
#calendarweek th,#calendarweek td{width:108px;padding:1px;}
#calendarweek th{color:#333;font-size:1px;height:9px;font-weight:normal;background:#fff;border-left:1px solid #bbb;}
#calendarweek th span{display:block;postion:absolute;margin-top:-22px;font-size:12px;}
#calendarweek td{border:1px solid #bbb;border-right:none;min-height:89px;height:auto;height:89px; vertical-align:top;position:relative;}
#calendarweek td:first-child{border-left:none;padding-left:3px;}
#calendarweek td:last-child{padding-right:3px;}
#calendarweek .day,#calendarweek .day-inactive,#calendarweek .day,#calendarweek .day-current{text-align:right;padding:6px 5px 4px 0;}
#calendarweek .day-inactive{color:rgba(0,0,0,0.3)}
#calendarweek .day-current{color:#fff;background:#999;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#C6C6C6), to(#999999));background:-moz-linear-gradient(0% 87% 90deg,#999999, #C6C6C6);text-shadow:-1px 1px #666;margin-top:0;}
#calendarweek .day-current span{float:left;margin-left:8px;}


#calendarweek td div.event{height:30px;margin-top:1px;font-size:12px;cursor:pointer;}
#calendarweek td div.event span{float:left;padding:10px 5px 6px;font-weight:bold;}
#calendarweek td div.event span.completed,#calendarweek td div.event span.scheduled{display:block;width:30px;height:30px;background:#fed02a url(../_img/icon_check_white.png) no-repeat 5px 7px;padding:0;}
#calendarweek td div.event span.scheduled{background:#c06 url(../_img/icon_cal_white.png) no-repeat 4px 5px;}
#calendarweek td div.event span.eventtype{width:67px;}
#calendarweek td div.event span.highlight{background:#ddd;box-shadow:inset 0px 1px 1px #000;}


.calendar #main .popup_dlog_left,.calendar #main .popup_dlog_right{width:243px;padding-left:0;margin-top:-35px;right:96px;background-image: url(../_img/dialog_long_right_divider_shadow.png);height:auto;}
.calendar #main .popup_dlog_right{background-image: url(../_img/dialog_long_left_divider_shadow.png);left:96px;}
.calendar #main .popup_dlog h2{margin:10px 24px;}
.calendar #main .popup_dlog p{font-size:12px;margin:0 0 6px;padding-top:6px;}
.calendar #main .popup_dlog_btm{display:block;width:243px;height:20px;background:transparent url(../_img/dialog_long_right_divider_shadow.png) no-repeat 0 100%;margin-bottom:-20px;}
.calendar #main .popup_dlog_right .popup_dlog_btm{background-image:url(../_img/dialog_long_left_divider_shadow.png);}
.calendar #main .popup_dlog .event-results p{color:#999;}
.calendar #main .popup_dlog .event-results p {font-size:12px;}
.calendar #main .popup_dlog .event-results p span{font-size:20px;font-weight:bold;color:#222;padding:0 5px 0;}
.calendar #main .popup_dlog .event-results span.time{margin-left:1em;}
.calendar #main .popup_dlog .event-summary,.calendar #main .popup_dlog .event-results{border-bottom:1px solid #ccc;margin:0 24px; position: relative;}
.calendar #main .popup_dlog .event-summary{border-top:1px solid #fff;}
.calendar #main .popup_dlog .event-summary p {font-size:12px;}
.calendar #main .popup_dlog .event-action-btns{position: relative;padding:10px 0;margin:0 24px;border-top:1px solid #fff;}
.calendar #main .popup_dlog .event-action-btns a{text-decoration:none;color:#000;}
.calendar #main .popup_dlog .event-action-btns span{display:block;float:left;font-size:12px;background:#fff;border:1px solid #d6d6d6;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;padding:4px 10px;-webkit-box-shadow: 1px 2px 1px rgba(221,221,221,0.9);-moz-box-shadow: 1px 2px 1px rgba(221,221,221,0.9);box-shadow:1px 2px 1px rgba(221,221,221,0.9);}
.calendar #main .popup_dlog .event-action-btns a:first-child span{margin-right:0.5em;}

/* Day */


.day .yellow {
	background-color: #fed02a;
}

.day .darkpink {
	background-color: #cc0066;
}

.day #maindetails .full {
	width: 100%;
	top: 0px;
	margin-bottom: 1em;
}

.day #maindetails .left {
	width: 50%;
	/*left: 0px;
	top: 217px;
	position: absolute;*/
	float:left;
}

.day #maindetails section.right {
	width: 371px;
	/*left: 50%;
	top: 217px;
	position: absolute;
	padding-left: 20px;*/
	float:right;
	position:relative;
	left:0;
}

.day #maindetails .banner {
	padding: 10px;
	color: white;
}

.day #maindetails .full .banner {
	margin-top: 20px;
	margin-bottom: 0;
}

.day #maindetails .left .banner {
	
}

.day #maindetails .right .banner {
	
}

.day #maindetails .banner>div {
	width: 50%;
	position: relative;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	margin: 0px;
		left:15px;
	
}

.day #maindetails .banner>div>img {
	top:2px;
	margin-right:8px;
}

.day #maindetails .banner>a {
	position: absolute;
	padding: 12px 23px 12px 12px;
	right: 0px;
	top: 0px;
	font-size: 14px;
	font-weight: bold;
	display: block;
	text-decoration: none;
	text-indent: 30px;
	right: 0px;
	top: 0px;
	font-size: 14px;
	font-weight: bold;
	display: block;
	font-weight: bold;
	display: block;
	text-decoration: none;
	text-indent: 30px;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.1),
		rgba(0, 0, 0, 0.03) );
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.1),
		rgba(0, 0, 0, 0.03) );
}

.day #maindetails .banner>a:active {
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.03),
		rgba(255, 255, 255, 0.1) );
	background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.03),
		rgba(255, 255, 255, 0.1) );
}

.day #maindetails .banner.yellow>a {
	text-shadow: 0px 1px 1px white;
	color: black;
}

.day #maindetails .banner.darkpink>a {
	color: white;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
}

.day #maindetails .banner>a:before {
	content: '+';
	position: absolute;
	font-weight: bold;
	font-size: 18px;
	left: -10px;
	top: 7px;
}

.day #maindetails .banner>a:after {
	content: '';
	position: absolute;
	top: 0px;
	left: -2px;
	height: 100%;
	width: 0px;
	border-left: 1px solid rgba(0, 0, 0, 0.15);
	border-right: 1px solid rgba(255, 255, 255, 0.25);
}

.day #maindetails .full .breakdown {
	background-image: url(../_img/breakdown_bg.png);
	background-repeat: no-repeat;
	height: 146px;
	margin: 0px auto;
	position: relative;
	width: 738px;
}

.day #maindetails  .breakdown.small {
	background-image: url(../_img/breakdown_small_bg.png);
	background-repeat: no-repeat;
	height: 69px;
	margin: 10px 0px 10px;
	position: relative;
	width: 225px;
}

.day .stats.large {
	height: 50px;
	position: absolute;
}

.day .stats>.value {
	color: black;
	font-size: 24px;
	position: relative;
	top: 0px;
	font-weight: bold;
}

.day .stats>.label {
	color: #777;
	position: relative;
	bottom: 0px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}

.day .stats.large>.value {
	font-size: 38px;
}

.day .stats>.label {
	white-space: nowrap;
}

.day .stats.small {
	height: 40px;
	position: absolute;
}

.day .breakdown.small .stats{
	position:absolute;
	}

.day .stats.tiny>.label {
	font-size: 12px;
	position: relative;
	float: left;
	margin-left: 5px;
	top:5px;
}

.day .stats.tiny>.value {
	font-size: 16px;
	position: relative;
	float: left;
}

.day .stats.center>div {
	width: 100%;
	text-align: center;
}

.day .stats.right>div {
	width: 100%;
	text-align: right;
}

.day .breakdown.small .stats>.label {
	font-size: 11px;
}

.day .breakdown.small .stats.topleft {
	top: 0px;
	left: 0px;
}

.day .breakdown.small .stats.topright {
	top: 0px;
	left: 90px;
}

.day .breakdown.small .stats.bottomleft {
	top: 50px;
	left: 1px;
}

.day .breakdown.small .stats.bottomcenter {
	top: 50px;
	left: 90px;
}

.day .breakdown.small .stats.bottomright {
	top: 50px;
	left: 168px;
}

#breakdown_calconsumed {
	right: 384px;
	top: 16px;
}

#breakdown_calburned {
	left: 384px;
	top: 16px;
}

#breakdown_carbs {
	right: 408px;
	top: 100px;
}

#breakdown_fat {
	left: 348px;
	top: 100px;
}

#breakdown_protein {
	left: 408px;
	top: 100px;
}

.day #maindetails section.left>section,.day #maindetails section.right>section
	{
	background-color: #ececec;
	width: 100%;
	margin-bottom: 20px;
	padding: 15px 0px 15px 15px;
	box-shadow: inset 0px 1px 0px white;
	background-image: -webkit-linear-gradient(#f3f3f3, #ececec);
	background-image: -moz-linear-gradient(#f3f3f3, #ececec);
	border: 1px solid #bbbbbb;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	position: relative;
	-webkit-transition:all 1.0s ease;
	left:-21px;
}
.day #maindetails section.right>section{left:0;}

.day #maindetails section.left>section.tabOpened{
	
}

.day #maindetails section.left>section>p,.day #maindetails section.right>section>p
	{
	color: black;
	left: 76px;
	position: relative;
	font-size: 12px;
	font-weight: bold;
	margin: 5px 0px 5px 0px;
	width: 270px;
}

.day #maindetails section.left>section>p.activity,.day #maindetails section.right>section>p.activity
	{
	
}

.day #maindetails section.left>section>p.title,.day #maindetails section.right>section>p.title
	{
	font-size: 24px;
}

.day #maindetails section.left>section>div,.day #maindetails section.right>section>div
	{
	left: 76px;
	position: relative;
	margin-bottom:13px;
}

.tabOpened .sidebar{
	border-bottom:165px solid transparent;
	}

.day #maindetails section.left>section>.sidebar,.day #maindetails section.right>section>.sidebar
	{
	width: 90px;
	height: 100%;
	position: absolute;
	top: 0px;
	border: 15px solid transparent;
	background-color: transparent;
	left: 0px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	top: 0px;
	box-sizing: border-box;
	top: 0px;
	left: 0px;
	top: 0px
}

.sidebar>.fill {
	width: 100%;
	height: 100%;
	position: absolute;
}

.sidebar>img {
	position: relative;
	top: 10px;
	left: 5px;
}

.day #maindetails section.right>section>.tabbed {
	position: relative;
	width: 279px;
}

.day #maindetails section.right>section>.tabbed.open {
	
}

.day #maindetails section.right>section>.tabbed>.tab {
	width: 40px;
	height: 40px;
	position: absolute;
	right: -40px;
	-webkit-transition: all 1.0s ease;
	-moz-transition: all 1.0s ease;
	box-shadow: inset 15px 0px 10px -5px rgba(0, 0, 0, .5);
	background-image: url(../_img/logo_mini_yellow.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top: 1px solid #edce5a;
	border-right: 1px solid #c9ae48;
	border-bottom: 1px solid #c0a851;
}

.day #maindetails section.right>section>.tabbed.open>.tab {
	right: -40px;
	box-shadow: inset 0px 1px 0px white;
	z-index: 1;
}
.day #maindetails section.right>section>.tabbed>.panel>*{color:#000;}
.day #maindetails section.right>section>.tabbed>.panel {
	overflow: hidden;
	height: 0px;
	-webkit-transition: all 1.0s ease;
	-moz-transition: all 1.0s ease;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	position: relative;
	text-shadow: 0px 1px 1px white;
	border: 1px solid transparent;
	background-color: transparent;
}

.day #maindetails section.right>section>.tabbed.open>.panel {
	height: 131px;
	border-top: 1px solid #edce5a;
	border-left: 1px solid #c9ae48;
	border-right: 1px solid #c9ae48;
	border-bottom: 1px solid #c0a851;
	box-shadow: inset 0px 1px 0px white;
	background-color: #fed02a;
}

.day #maindetails section.right>section>.tabbed>.panel>div,.day #maindetails section.right>section>.tabbed>.panel>p
	{
	position: relative;
	top: 10px;
	left: 10px;
}

.day #maindetails section.right>section>.tabbed.open>.panel:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.15),
		rgba(0, 0, 0, 0.05) );
	z-index: 0;
}

.day #maindetails section.right>section>.tabbed>.panel>p {
	z-index: 1;
	font-size: 14px;
	margin: 0;
	clear: both;
}

.day #maindetails section.right>section>.tabbed>.panel .stats {
	position: relative;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-right: 10px;
}

.day #maindetails section.right>section>.tabbed>.panel .stats.first {
	padding-right: 10px;
	border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.day #maindetails section.right>section>.tabbed>.panel .stats.second {
	padding-left: 10px;
	border-left: 1px solid rgba(255, 255, 255, 0.25);
}

.day #maindetails section.right>section>.tabbed>.panel .stats>.label {
	color: black;
}

.day #maindetails section.left>section>.tabbed {
	position: relative;
	left:-15px;
	width: 374px;
	z-index:1;
}

.day #maindetails section.left>section>.tabbed.refresh {
	position: absolute;
	width: 40px;
	left: -1px;
}

.day #maindetails section.left>section>.tabbed.refresh.open {
	position:absolute;
	top:15px;
}


.day #maindetails section.left>section>.tabbed.open {
	position:relative;
}

.day #maindetails section.left>section>.tabbed.refresh>.tab {

	background-image: url(../_img/icon_refresh.png);
}
.day #maindetails section.left>section>.tabbed>.tab {

	width: 40px;
	height: 40px;
	position: absolute;
	left: -40px;
	-webkit-transition: all 1.0s ease;
	-moz-transition: all 1.0s ease;
	background-image: url(../_img/logo_mini_pink.png);
	box-shadow: inset -15px 0px 10px -5px rgba(0, 0, 0, .5), inset 0px 2px
		0px rgba(255, 255, 255, 0.5);
	background-repeat: no-repeat;
	background-position: 5px 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top: 1px solid transparent;
	border-left: 1px solid transparent;
	border-bottom: 1px solid transparent;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.day #maindetails section.left>section>.tabbed>.tab:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 3px;
	height: 100%;
	width: 100%;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-top: 1px solid rgba(255, 255, 255, .5);
	border-left: 1px solid rgba(0, 0, 0, .15);
	border-right: 1px solid rgba(255, 255, 255, 0);
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.day #maindetails section.left>section>.tabbed.open>.tab {
	right: -40px;
	box-shadow: inset 0px 1px 0px white;
	z-index: 1;
}
.day #maindetails section.left>section>.tabbed>.panel>*{color:#fff;}
.day #maindetails section.left>section>.tabbed>.panel {
	overflow: hidden;
	height: 0px;
	-webkit-transition: all 1.0s ease;
	-moz-transition: all 1.0s ease;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	position: relative;
	color:#fff;
	text-shadow: 0px -1px 1px rgba(0,0,0,0.5);
	border: 1px solid transparent;
	background-color: transparent;
}

.day #maindetails section.left>section>.tabbed.open>.panel {
	height: 150px;
	border-top: 1px solid #dd568a;
	border-left: 1px solid #d45080;
	border-right: 1px solid #d45080;
	border-bottom: 1px solid #c6527c;
	box-shadow: inset 0px 1px 0px white;
	background-color: #cc0066;
}

.day #maindetails section.left>section>.tabbed>.panel>div,.day #maindetails section.left>section>.tabbed>.panel>p
	{
	position: relative;
	top: 10px;
	left: 10px;
}

.day #maindetails section.left>section>.tabbed.open>.panel:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.15),
		rgba(0, 0, 0, 0.05) );
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.15),
		rgba(0, 0, 0, 0.05) );
	z-index: 0;
}

.day #maindetails section.left>section>.tabbed>.panel>p {
	z-index: 1;
	font-size: 14px;
	margin: 0;
	clear: both;
}

.day #maindetails section.left>section>.tabbed>.panel .stats {
	position: relative;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-right: 10px;
	
}

.day #maindetails section.left>section>.tabbed>.panel .stats.first {
	padding-right: 10px;
	border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.day #maindetails section.left>section>.tabbed>.panel .stats.second {
	padding-left: 10px;
	border-left: 1px solid rgba(255, 255, 255, 0.25);
}

.day #maindetails section.left>section>.tabbed>.panel .stats>.value {
		color:white;
	text-shadow: 0px -1px 1px rgba(0,0,0,0.5);
}

.day #maindetails section.left>section>.tabbed>.panel .stats>.label {
		color:white;
	text-shadow: 0px -1px 1px rgba(0,0,0,0.5);
}
/* Journal */
.journal p{color:#000;font-size:14px;}
.journal #maindetails{padding:0;}
.journal #maindetails.expanded>#workoutdata {
	bottom: 736px;
}
.journal #menu > .datepicker > h1>span.completed{display:block;float:left;width:30px;height:30px;background:#fed02a url(../_img/icon_check_white.png) no-repeat 5px 7px;padding:0;margin: 5px 5px 0 0;}
.journal #menu > .datepicker > .eventdate> a{color:#666;}
.journal #menu > .viewpicker{bottom:10px;top:auto;}
.journal #menu > .viewpicker > ul{background-color: #FEDE37;background-image: -webkit-linear-gradient(#fede37, #fecd27);background-image: -moz-linear-gradient(#fede37, #fecd27);background-image: linear-gradient(#fede37, #fecd27);box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.5);padding:0;border: 1px solid #B3931C;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.journal #menu > .viewpicker > ul > li {border-left: 1px solid #B3931C;padding:5px 11px;border-radius:0;}
.journal #menu > .viewpicker > ul > li:first-child{border-left:none;}
.journal #workoutdata{position:relative;left:0;top:0;width:auto;height:auto;}
.journal #workoutdata .left{width: 460px;}
.journal #workoutdata .right{width:305px;top:10px;}
.journal #workoutdata > .right > h2,.journal #addmoredata h1,.journal #maindetails #temperature_wr{color:#e5bb26;}
.journal #workoutdata > .left > .datafield.large,.journal #workoutdata > .left > .datafield.small{height:86px;padding-top:4px;}
.journal #workoutdata > .left > .datafield.uneditable > p:first-child {font-size:42px;}
.journal #addmore{position:relative;top:0;padding-left:0;left:-37px;}

.journal #maindetails.expanded>#addmore,.journal #maindetails.expanded>#addmore>#addmoredata {
	min-height: 660px;height:auto !important;height:660px;
	position:relative;
}
.journal #maindetails.expanded>#addmore>#addmoredata{top:0;margin-top:35px;}
.journal #maindetails.expanded>#addmore>#addmore_header:before {
	content: 'Hide';
	background-image: url(../_img/icon_minus.png);
	background-position: 10px 13px;
}
.journal #maindetails>#addmore>#addmoredata > section > .left{position:relative;}
.journal #maindetails>#addmore>#addmoredata > section > .right{position:relative;right:0;height:330px;}
.journal #maindetails #weatherDetails{width:auto;left:0;bottom:0;}
.journal #maindetails #temperature_wr{font-size:14px !important;width:250px;margin-top:5px;}
.journal #maindetails #temperature_wr span{color:#666;}
.journal #maindetails #temperature_wr span.temp{font-size:28px !important;color:#e5bb26;}
.journal #maindetails #temperature_wr img{float:left;margin-right:10px;}
.journal #maindetails.expanded>#addmore>#addmoredata > section.bottom > .right{height:auto;}
.journal #maindetails.expanded>#addmore>#addmoredata>section.bottom{padding-bottom:20px;padding-top:0;}
.journal #addPhotoBtn{width:auto;height:auto;}
.journal #addPhotoBtn img{float:left;margin-right:12px;margin-bottom:20px;}


.closeit {z-index:501;}
.closeit img {z-index:502;}
.hidden {display:none;}