#logo {
	background-image: url(../_img/logo_ie.png);
	width: 211px;
	height: 111px;
	top:-19px;
	background-repeat:no-repeat;
	background-color:transparent;
	
}

#logo:after, #logo:before {
	display: none !important;
	background-image:none;
}

#accountNav{
	font-size:13px;
	}

#menu,.menu,#maindetails {
	filter:progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#666666');zoom:1;
	border-top:1px solid #ccc;border-left:1px solid #ccc;
}
#menu>ul>li.icon>ul {
	display: none;
}

#menu>ul>li.icon>ul:before {
	content: '';
	position: absolute;
	background-color: black;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

#menu>ul>li.icon:hover>ul {
	display: block;
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
}

#workoutdata>.left>.datafield {
	background-color: #efefef;
}

.datafield {
/* 	background-color: #f3f3f3;
	border-top: 1px solid #ccc;
	*/
}


#detail>footer {
/* 	now specified as a footer.class for each section of the site
	background-color: rgb(226, 18, 101); 
*/
}

#detail>footer>a, #loginpane>footer>a,.loginbg>a { /* Takes effect on last child */
	right: 38px;
	padding-left: 30px;
	background: url(../_img/icon_submit.png) no-repeat;
}

#addMood {
	border-width: 0px !important;
	padding: 0px !important;
	bottom: 20px !important;
	left: 0px !important;
	width: 150px !important;
	height: 30px !important;
	background-color: rgb(226, 18, 101);
	z-index: 2;
	display: none;
}

#addWeather {
	border-width: 0px !important;
	padding: 0px !important;
	bottom: 20px !important;
	left: 0px !important;
	width: 210px !important;
	height: 80px !important;
	background-color: rgb(226, 18, 101);
	z-index: 2;
	display: none;
}

.circleIcon {
	float: left !important;
	position: relative !important;
	top: 5px !important;
	left: 8px !important;
	margin-right: 8px !important;
	margin-bottom: 8px !important;
}

#blackbox {
/* adding the png here doesn't work... 
	background: url(../_img/ie8_modal_grayoverlay.png);
	*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);zoom:1;
}